<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Load the arguments -->
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="sim_mode" default="true"/>

  <xacro:macro name="galax_robot" params="prefix *origin">


    <!-- ROBOT -->
    <!-- Add the robot -->
    <xacro:include filename="$(find galax_description)/urdf/pioneer3dx.urdf.xacro"/>
    <xacro:pioneer3dx prefix="${prefix}">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:pioneer3dx>


    <!-- CONTROLLER -->
    <!-- Add the diffdrive controler -->
    <xacro:unless value="$(arg sim_mode)">
      <xacro:include filename="$(find diffdrive_arduino)/urdf/diffbot.ros2_control.xacro" />
      <xacro:diffbot_ros2_control name="DiffBot" prefix="${prefix}" device="/dev/ttyACM0" baud_rate="57600"/>
    </xacro:unless>
    <!-- Or the Gazebo plugin -->
    <xacro:if value="$(arg sim_mode)">
      <xacro:include filename="$(find galax_description)/urdf/gazebo_control.xacro"/>
      <xacro:gazebo_control prefix="${prefix}"/>
    </xacro:if>


    <!-- LIDAR -->
    <!-- Mount the lidar -->
    <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust10.urdf.xacro"/>
    <xacro:hokuyo_ust10_mount prefix="hokuyo" topic="scan" parent_link="${prefix}top_plate">
      <origin xyz="0.16 0 0" rpy="0 0 0"/>
    </xacro:hokuyo_ust10_mount>

  </xacro:macro>

</robot>
